
/* background color */

#onit-header {
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
}

header nav {
  background-color: #161414;
 
  
}

header nav ul {
  text-align: center;
 

  align-items: center;

  list-style: none;
  
}

header nav ul li {
  display: inline-block;
  font-size: 20px;

}

header nav ul li a {

  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 
}

/* title */
#tm {
    text-align: center;
    padding: 50px;
    font-size: 5vw;
}

/* event panel */
.columns {
    padding: 50px;
    margin: 30px;
    
}


.container-1 {
  position: relative;
  text-align: center;
  
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* search bar */


/* media queries */
